---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Bullet List */
li {
  margin-top: 10px;
}


/* Margin for social icons */
#social {
  margin-top: 20px;
}

/* Parentheses around numbering */
@counter-style paren-decimal {
  system: extends decimal;
  suffix: ") ";
}

@counter-style paren-lower-alpha {
  system: extends lower-alpha;
  suffix: ") ";
}

@counter-style paren-lower-roman {
  system: extends lower-roman;
  suffix: ") ";
}

[type="p1"] {
  list-style: paren-decimal;
}

[type="pa"] {
  list-style: paren-lower-alpha;
}

[type="pi"] {
  list-style: paren-lower-roman;
}


/* tag cloud */
#tag_cloud {
  margin: 20px 0 15px 0;
}
#tag_cloud a,
#tag_cloud .tag {
  font-size: 14px;
  border: none;
  line-height: 28px;
  margin: 0 2px;
  margin-bottom: 8px;
  background: #a09fcc; /* tag_cloud color */
}
#tag_cloud a:hover,
#tag_cloud .tag:hover,
#tag_cloud a:active,
#tag_cloud .tag:active {
  background-color: #0085a1 !important;
}

/* Hux add tags support */
.tags {
  margin-bottom: -5px;
}
.tags a,
.tags .tag {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 999em;
  padding: 0 10px;
  color: #ffffff !important;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  margin: 0 1px;
  margin-bottom: 6px;
}
.tags a:hover,
.tags .tag:hover,
.tags a:active,
.tags .tag:active {
  color: white !important;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}


.one-tag-list .tag-text {
  font-weight: 200; /* thickness of tag font */
  font-size: 20px;
  line-height: 1.7;
  text-transform: capitalize; /* capitalize 1st letter */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, SimSun, sans-serif;
}
.one-tag-list .post-preview {
  position: relative;
}
.one-tag-list .post-preview > a .post-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
.one-tag-list .post-preview > a .post-subtitle {
  font-size: 12px;
}
.one-tag-list .post-preview > .post-meta {
  position: absolute;
  right: 5px;
  bottom: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 12px;
}
@media only screen and (min-width: 768px) {
  .one-tag-list .post-preview {
    margin-left: 20px;
  }
  .one-tag-list .post-preview > a > .post-title {
    font-size: 20px; /* post title font */
    line-height: 1.3; /* post title line height */
    font-weight: 400;
  }
  .one-tag-list .post-preview > a > .post-subtitle {
    font-size: 14px;
  }
  .one-tag-list .post-preview .post-meta {
    font-size: 18px;
  }
}


/* horizontal line */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* general typesetting */
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, SimSun, sans-serif;
  line-height: 1.7;
  font-size: 18px;
  color: #404040; /* color for main text */
  overflow-x: hidden;
}
/* Chinese font */
.comment {
  font-family: STKaiti, BiauKai, KaiTi, SimSun, sans-serif;
}
:lang(ch) {
  font-family: STKaiti, BiauKai, KaiTi, SimSun, sans-serif;
}
p {
  margin: 18px 0; /* paragraph spacing */
}
mjx-container[display="true"] {
  margin: .5em 0 ! important; /* spacing around eqs */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, SimSun, sans-serif;
  line-height: 1.7;
  font-weight: bold;
}
h4 {
  font-size: 21px;
}
h5 {
  padding-bottom: 15px;
}
/* hyperlink */
a {
  color: #1656a9; /* blue-colored hyperlink */
  /* color: #404040;  same color as text */
}
a:hover,
a:focus {
  color: #0085a1;
}
a:visited {
  color: #0085a1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}

/* Code */
pre {
  white-space : pre-wrap !important; /* soft-wrap */
  word-break: break-word; /* avoid word break */
  margin-bottom: 0px;
}

/* Table of contents */
.toc {
  // border: 1px solid #2a7ae2;
  border-radius: 0.25rem;
  padding-top: 15px;
  padding-right: 15px;
  margin-left: 15px;
}

.toc b {
  margin-left: 20px;
}

.toc ul {
  // list-style: none;
  margin-left: 10px;
  line-height: 25px;
  // margin-top: 5px;
}

.toc li {
  margin-left: 10px;
  margin-top: 5px;
}

.toc ul>li:first-child {
  // nested bullet list
  margin-top: 5px !important;
}

/* Back-to-top button */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.top-link {
    transition:     all .25s ease-in-out;
    position:       fixed;
    bottom:         0;
    right:          0;
    display:        inline-flex;
    color:          #000000;

    cursor:         pointer;
    align-items:    center;
    justify-content:center;
    margin:         0 2em 2em 0;
    border-radius:  50%;
    padding:        .25em;
    width:          1em;
    height:         1em;
    background-color: #F8F8F8;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

/* Box around text */
.boxed {
  background: #FFFAEE;
  color: black;
  border: 1px solid #535353;
  margin: 0px auto;
  width: 526px;
  padding: 10px;
  border-radius: 10px;
}

/**
 * Figure
 */
figure {
  display: inline-block;
  text-align: center; /* center caption */
  margin: 5px; /* adjust as needed */
  margin-right: auto; 
  margin-left: auto;
}
figcaption {
  font-size: 100%;
}

/**
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  border-spacing: 0px;
  padding: 0.5rem;
}
/* hoverable row */
th:hover, tr:hover {
  background-color: #D6EEEE;
}
  
/* remove line number in embeded Gists */
.js-line-number {
  display: none;
}